
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.midle{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: silver;
  

}
form{  
    width: 60%;  
    display: flex;
    flex-direction: column;    
    margin: 0 auto;
}
input{
    width: 100%;
    height: 24px;
    border: 1px solid rgb(238, 235, 60); 
    margin: 10px 10px;
    text-indent: 10px;
    
  
}
input:focus-visible{
    outline: unset;
}
button{ 
   
    width: 25%;
    height: 25px;
    margin: 10px 10px;
}
.formsimilar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: silver;
  
}
.sections{
    width: 180px;
    height: 180px;
    margin: 10px 10px;
    border: 1px solid rgb(5, 5, 5);
}
.sectionimig{
    width: 90%;
    /* height: 90%; */
    margin: 0 auto;
    /* border: 1px solid rgb(5, 5, 5); */
   
}
.sectionimig img{
    width: 100px;
    height: 100px;
    border: 1px solid rgb(5, 5, 5);
    border-radius: 50%;
    margin: 2px 39px;
}
.h3_text_anun{
    text-align: center;
    color: blueviolet;
}
.serach{
    width: 40%;
   margin: 5px 10px;

}
button{
    width: 40%;
    margin: auto;

}

.poisk{
    width: 50%;
    align-self: center;
    border: 1px solid rgb(5, 5, 5);
    display: flex;
    flex-direction: column;
}
.poisk label{
    margin: auto;
}
.poisk input{
    width: 90%;
    align-self: center;
   margin: 5px 10px;

}