*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.hide {
	display: none !important;
}

.bigbogy{
	width: 100%;
	height: 100vh;	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 6% 100% ;	
	/* background-position: center ; nkar@ texapoxelu hamar	 */
}

.secpar{ 
display: flex;
flex-direction: row;
justify-content: center;
justify-self: center;
align-content: center;
}
.firstPar{
	width: 90%;
	margin: 53px auto auto 50px;
	height: 45px;

	/* //font siz@ chi ashxatum normal????????????? */
}
button{
	font-weight: 200;
	border-radius: 5px;
	font-size:20px; 
border: none;
}
input {
	width: 78%;
	height: 40px;
	margin: 0px 20px;
	text-indent: 1%;
	font-size:20px; 
	background: #e7e7e7;
	font-family: "Nunito",sans-serif;
	font-weight: bold;
	border-radius: 5px;
    border-color: #f4f6f8;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1877f2;

}
/* inchi senc arec [] ???? */

/* input[type~="text"]{ */
	/* esi vor ashxati menak ayn inputner um typ@ texta */
	/* width: 80px;
	height: 80px;
background: #e7e7e7;
width: 28%;
height: 40px;
background: #e7e7e7;
font-family: "Nunito",sans-serif;
font-weight: bold;
} */
.search{
	width: 17%;
	height: 40px;
}
.container{
	width: 95%;
	margin:  auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	justify-self: center;
	/* border: 5px solid rgb(236, 12, 12); */
}
.forname{
	width: 95%;
	margin:  auto;
	display: flex;
	margin: 29px auto 30px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	justify-self: center;
}
.section{
	margin: 5px 10px;
	width: 90%;
	height: 5rem;
	display: flex;
	flex-direction: column;
	background-color: rgb(32 52 100 / 40%);
}


h1,p{	
	margin: 5px 10px;
	color: white;
	font-size: 2rem;
	font-family: 'Times New Roman', Times, serif;
}
 @media (max-width: 1200px) {
	
	.firstPar input{
		width: 70%;
		background-image: unset;
	}
	button{
		width: 20%;
		/* display: none; */

	}
}

@media (max-width: 600px) {
	.firstPar input{
		width: 70%;
		margin: 0 auto;
		background-image: unset;
	}
	button{
		width: 20%;
		display: none;

		
	}
}
 
@media (max-width: 400px) {
   .firstPar input{
	width: 90%;
	margin: 0 auto;
	   background-image: unset;
   }
   button{
	   width: 20%;
	   display: none;

   }
} 
@media (max-width: 300px) {
	.firstPar input{
		width: 90%;
		margin: 0 auto;
		background-image: unset;
	}
	button{
		width: 20%;
		display: none;

	}
 } 
 
@media (max-width: 200px) {
	.firstPar input{
		width: 90%;
		margin: 0 auto;
		background-image: unset;
	}
	button{
		width: 20%;
		display: none;
	}
 } 
 body{
	width: 100%;
	height: 100vh;
	background-color: #555;
	display: flex;
	justify-content: center;
	align-items: center;
	}
.water{
	width:400px;
	height: 400px;
	background-color: skyblue;
	border-radius: 50%;
	position: relative;
	box-shadow: inset 0 0 30px 0 rgba(0,0,0,.5), 0 4px 10px 0 rgba(0,0,0,.5);
	overflow: hidden;
}
.water:before, .water:after{
	content:'';
	position: absolute;
	width:400px;
	height: 400px;
	top:-150px;
	background-color: #fff;
}
.water:before{
	border-radius: 45%;
	background:rgba(255,255,255,.7);
	animation:wave 5s linear infinite;
}
.water:after{
	border-radius: 35%;
	background:rgba(255,255,255,.3);
	animation:wave 5s linear infinite;
}
@keyframes wave{
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(360deg);
	}
}

