button{
    width: 10%;
    height: 10%;
    border: 4px solid chartreuse;
}


#res{
    width: 81px;
    height: 80px;
    margin: 10px 10px;
    padding: 50px 50px;
    border: 4px solid chartreuse;
    border-radius: 50%;

}