*{
    margin: 0;
    padding:  0 ;
    box-sizing: border-box;
}
body{
    background-color: rgb(47, 48, 47);
   
}
.firstparent{
    width: 34%;
    margin: auto;
    margin-top: 3%;
}
.inputnrihamar{
    width: 30%;
    margin: auto;
    border: 1px solid lightblue;
}
input{
    width: 55%;
    height: 90%;
}
#cars {
    width: 32%;
    height: 39px;
}
button{
    width: 10%;
    height: 90%;
    margin: 0px 4px;
}
.second_parent{
    width: 34%;
position: absolute;
top: 40%;
}
.section1{
    margin: 2px 0px;
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.sections{
    margin: 2px 0px;
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.check_button{
    width: 15%;
    height: 100%;
}
.del_buttons{
    width: 15%;
    height: 100%;
}
.area{
    background-color: white;
    width: 65%;
    height: 100%;
    border: 1px solid black;
    overflow: hidden;
}
.checked_item {
    text-decoration: line-through;
    color: red;
    font-weight: bolder
};
.unchecked_item {
    font-weight: bolder
}
h3{
    padding: 13px 12px;
    text-align: center;
}	

.animate__animated{
    background-color: black;
}