/* button{
    width: 10%;
    height: 10%;
    border: 4px solid chartreuse;
}


#res{
    width: 81px;
    height: 80px;
    margin: 10px 10px;
    padding: 50px 50px;
    border: 4px solid chartreuse;
    border-radius: 50%;

} */

*{
    margin: 0;
    padding: 0;
    
}
.opshi{width: 100%;
    height: 800px;
    background-image:  url("https://img.freepik.com/free-vector/colorful-palm-silhouettes-background_52683-39818.jpg?size=626&ext=jpg");
    background-position: center; 
     background-repeat: no-repeat;
     background-size: cover;
}
/* .bacground_pic{
    width: 60%;
 position: absolute;
 top: 35%;
 right: 22%;
} */
.parent{
    width: 60%;
    position: absolute;
    right: 13%;
    top: 16%;
    display: flex;
    flex-direction: column;
    background-color: rgba(63,59,59,0.8);
    border: 1px solid rgb(5, 5, 5);

}
.heda{
    /* width: 100%;   */
    height: 36px;
    border: 2px solid rgb(5, 5, 5);
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* background-color: #050505; */
    padding: 5px;
  }
  .grid-item {
    
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
    color: white;
  }
  .textare{
      width: 100%;
      height: 150px;
      border: 1px solid rgba(0, 0, 0, 0.8);
  }
  ul{
      margin: 0 auto;
  }
  li{margin: 8px 37px;
      display: inline-block;
      text-decoration: none;
  }