.parent{width: 10%;
height: 60px;
border:1px solid red;
margin: 0 auto;}


#popoxvox__text{
    width: 30%;
    border:5px dotted red;
    margin: 0 auto;}
.arr{
        width: 30%;
        height: 150px;
        padding: 40px 10px;
        border:5px dotted red;
        margin: 0 auto;}